@import '../../../variables/variables.scss';


.announcement {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: $padding-inline-l;
    width: 100%;
    height: $announcement-height;
    max-height: $announcement-height;
    background-color: $bg-clr-white;
    padding: $padding-inline-l;

    p {
        width: fit-content;
        height: fit-content;
        margin: 0;
    }

    .announcement-info {
        display: flex;
        flex-direction: column;
        grid-gap: $padding-inline-l;
        width: 100%;
        height: 100%;

        .announcement-title {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: 100%;

            p {
                font-size: $text-size-m;
            }
        }

        .announcement-description {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: 100%;

            p {
                font-size: $text-size-s;
            }
        }
    }

    .announcement-image-list {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: $border-radius;

        .announcement-image-list-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-gap: $padding-inline-l;
            position: absolute;
            top: 0;
            left: 0;
            width: fit-content;
            height: 100%;
            border-radius: $border-radius;

            .announcement-image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                border-radius: $border-radius;

                img {
                    width: auto;
                    height: 100%;
                    border-radius: $border-radius;
                }
            }
        }
    }

    .announcement-price {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        height: 100%;
    }

    .announcement-ownerId {}
}