@import '../../../variables/variables.scss';


.announcement {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: $padding-inline-l;
    width: 100%;
    height: $announcement-height;
    max-height: $announcement-height;
    background-color: $bg-clr-white;
    padding: $padding-inline-l;
    overflow: hidden;

    p {
        width: fit-content;
        height: fit-content;
        margin: 0;
    }

    .announcement-info {
        display: flex;
        flex-direction: column;
        grid-gap: $padding-inline-l;
        width: 100%;
        height: 100%;

        .info-top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: fit-content;

            .owner-container {
                width: fit-content;
                height: fit-content;

                a {
                    display: flex;
                    align-items: center;
                    grid-gap: $padding-inline-s;
                    width: fit-content;
                    height: fit-content;

                    .owner-avatar {
                        width: 2rem;
                        height: 2rem;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        background-color: #eee;
                    }

                    .owner-name {
                        display: flex;
                        grid-gap: $padding-inline-s;
                        width: fit-content;
                        height: fit-content;

                        .owner-first-name,
                        .owner-last-name {
                            width: fit-content;
                            height: fit-content;
                        }
                    }
                }
            }
        }

        .announcement-title {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: 100%;

            p {
                font-size: $text-size-m;
            }
        }

        .announcement-description {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: 100%;

            p {
                font-size: $text-size-s;
            }
        }
    }

    .announcement-image-list {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: auto;
        border-radius: $border-radius;

        &::-webkit-scrollbar {
            display: none;
        }

        .announcement-image-list-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-gap: $padding-inline-l;
            position: absolute;
            top: 0;
            left: 0;
            width: fit-content;
            height: 100%;
            border-radius: $border-radius;

            .announcement-image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                height: 100%;
                border-radius: $border-radius;

                img {
                    width: auto;
                    height: 100%;
                    border-radius: $border-radius;
                }
            }
        }
    }

    .info-bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: fit-content;

        .announcement-price {
            width: fit-content;
            height: fit-content;
        }

        .announcement-category {
            width: fit-content;
            height: fit-content;
        }
    }
}