@media screen and (max-width: 900px) {

    ::-webkit-scrollbar {
        display: none;
    }

    .main {
        grid-column: 1/17 !important;
        margin-bottom: 3rem;

        .content>.announcementList>app-announcement {
            &:last-child {
                // margin-bottom: $padding-inline-l;
            }
        }
    }

    .wrapper>.content {
        padding: 0 !important;
    }

    .box {
        border-radius: 0 !important;
    }

    /* Navbar */

    app-navbar {
        display: none !important;
    }

    app-navbar-mobile {
        display: block !important;
    }

    /* Article */

    .content>article {
        display: none !important;
    }

    app-article-mobile {
        display: block !important;
    }

}