@media screen and (max-width: 900px) {

    body {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .main {
        grid-column: 1/17 !important;
        margin-bottom: 3rem;
    }

    .wrapper>.content {
        padding: 0 !important;
    }

    .box {
        border-radius: 0 !important;
        box-shadow: none !important;
        border-bottom: 2px solid $body-bg-clr !important;
    }

    /* Toast */

    .toast-list {
        width: 100% !important;
        right: 0 !important;
        top: 0 !important;
    }

    /* Navbar */

    app-navbar {
        display: none !important;
    }

    app-navbar-mobile {
        display: block !important;
        box-shadow: none;
    }

    /* Article */

    .wrapper>.content>article {
        display: none !important;
    }

    app-article-mobile {
        display: block !important;
    }

}

@media screen and (max-width: 1200px) {
    app-my-button {
        button {
            font-size: $text-size-s !important;
            padding: $padding-inline-s calc($padding-inline-l * 2) !important;
        }
    }

    /* Announcement */

    .announcement {

        h4 {
            font-size: $text-size-s !important;
        }

        h2 {
            font-size: $text-size-m !important;
        }
    }
}

/* Announcement border */

/* 2 */

@media screen and (min-width: 347px) and (max-width: 523px) {
    app-announcement {
        &:nth-child(even)>.announcement {
            border-radius: $border-radius 0 0 $border-radius !important;
        }

        &>.announcement {
            border-radius: 0 $border-radius $border-radius 0 !important;

        }
    }
}

// /* 3 */

// @media screen and (min-width: 524px) and (max-width: 700px) {
//     app-announcement {
//         &:nth-child(2n)>.announcement {
//             border-radius: $border-radius 0 0 $border-radius !important;
//         }

//         &>.announcement {
//             border-radius: 0 $border-radius $border-radius 0 !important;

//         }
//     }
// }