<div class="article">
    <div class="content box">
        <ul class="link-list">
            <li *ngIf="!(user$ | async)?.gmail">
                <a class="auth" routerLink="/authorization-component/login-component">
                    <p>Войти</p>
                </a>
            </li>
            <li>
                <a routerLink="/profile-component/{{(user$ | async)?._id}}">
                    <p>Профиль</p>
                </a>
            </li>
            <li>
                <a routerLink="/profile-component/{{(user$ | async)?._id}}/announcement">
                    <p>
                        Мои объявления
                    </p>
                </a>
            </li>
            <li>
                <a routerLink="/create-announcement-component">
                    <p>
                        Подать объявление
                    </p>
                </a>
            </li>
            <li>
                <a routerLink="/chats-component">
                    <p>
                        Чаты
                    </p>
                </a>
            </li>
            <li>
                <a routerLink="/ideas-component">
                    <p>
                        Идеи для покупок
                    </p>
                </a>
            </li>
            <li>
                <a routerLink="settings-component">
                    <p>
                        Настройки
                    </p>
                </a>
            </li>
            <li *ngIf="(user$ | async)?.gmail">
                <a class="logout" (click)="logout()">
                    <p>Выйти</p>
                </a>
            </li>
        </ul>
        <!-- <ng-template #loader>
            <app-loader></app-loader>
        </ng-template> -->
    </div>
</div>