@import '../../variables/variables.scss';

.article {
    width: 100%;
    height: 100%;

    .content {
        width: 100%;
        height: fit-content;

        .link-list {
            width: 100%;
            height: 100%;
            background-color: $bg-clr-white;
            border-radius: $border-radius;    
    
            li {
                width: 100%;
                height: calc($padding-inline-l * 3);
    
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    user-select: none;
                    background-color: $bg-clr-white;
                    transition: background-color 0.2s ease;
    
                    &:hover {
                        background-color: $article-bg-clr-hover-blue;
                    }
    
                    &.auth {
                        color: $nav-link-border-clr-hover-green;
    
                        &:hover {
                            filter: none;
                            background-color: $nav-link-border-bg-clr-hover-green;
                        }
                    }

                    &.adminpanel {
                        color: $text-clr-purple;
                        &:hover {
                            background-color: $text-clr-hover-purple;
                        }
                    }
    
                    &.logout {
                        color: $text-clr-error;
    
                        &:hover {
                            filter: none;
                            background-color: $text-clr-hover-error;
                        }
                    }
                }
            }
        }
    }
}