<div class="create-announcement">
    <div class="content">
        <div class="create-announcement-form">
            <div class="amount"><span>{{(imageList | async)?.length || 0}} / 10</span></div>
            <div class="announcement-images">
                <div class="image-list">
                    <div *ngIf="((imageList | async)?.length || 0) < 10" class="add-image-input">
                        <input #imageInput (input)="addImage(imageInput)" id="imageInput" accept="image/png, image/jpg"
                            type="file">
                        <label for="imageInput">
                            <div class="image-input-icon">
                                <mat-icon>add_photo_alternate</mat-icon>
                                <p>png&nbsp;&nbsp;jpg</p>
                            </div>
                        </label>
                    </div>
                    <div *ngFor="let image of imageDisplayList | async; index as i" class="display-image">
                        <div class="display-image-inner" style="background-image: url('{{image.data}}');"></div>
                        <div class="image-display-title">{{image.title}}</div>
                        <button class="remove-display-image" (click)="removeImage(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="announcement-title">
                <input #title (input)="setValue('title', title.value)" id="input_text" type="text"
                    placeholder="Название товара" data-length="50">
                <label for="input_text"></label>
            </div>
            <div class="announcement-description">
                <textarea #description (input)="setValue('description', description.value)" id="textarea2"
                    class="materialize-textarea" maxlength="600" data-length="500"
                    placeholder="Описание товара"></textarea>
                <label for="textarea2"></label>
            </div>
            <div class="announcement-price">
                <div>
                    <input #price (input)="setValue('price', price.value)" type="number" placeholder="Цена">
                    <p>руб.</p>
                </div>
            </div>
            <div class="announcement-category">
                <div class="announcement-category-inner">
                    <button class="toggle" (click)="toggleCategoryOpen()">
                        <p>
                            {{ (currentCutegoryTitle$ | async) || 'Выберете категорию'}}
                        </p>
                    </button>
                    <div class="category-list" *ngIf="categoryListOpen$ | async">
                        <div *ngFor="let category of categoryList$ | async" class="category">
                            <div class="category-group">
                                <button disabled>
                                    {{category.title}}
                                </button>
                            </div>
                            <div class="childList">
                                <div class="categoryChild" *ngFor="let categoryChild of category.children">
                                    <button (click)="setValue('category', categoryChild.id.toString(), categoryChild.title)">
                                        <p>
                                            {{categoryChild.title}}
                                        </p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="send">
                <app-my-button type="create-announcement" text="Подать объявление"
                    [isDisabled]="!(createIsReady | async) || false" [callback]="create.bind(this)"></app-my-button>
            </div>
        </div>
    </div>
</div>