@import '../../variables/variables.scss';

.nav {
    width: 100%;
    min-height: $nav-height;
    background-color: $bg-clr-white;
    border-bottom: 2px solid $border-clr;

    .nav-inner {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-column-gap: $padding-inline-l;
        width: 100%;
        max-width: $wrapper-max-width;
        height: 100%;
        padding: 0 $padding-inline-l;
        margin: 0 auto;
    }

    ul {
        display: flex;
        width: 100%;
        height: 100%;

        li {
            display: flex;
            width: fit-content;
            height: 100%;
            background-color: transparent;
            border-bottom: 2px solid transparent;
            transition: all 0.2s ease;

            &.post-announcement:hover {
                background-color: $nav-link-border-bg-clr-hover-default;
                border-color: $nav-link-border-clr-hover-default;
            }

            &.auth-link {
                font-weight: 400;
                a {
                    color: $main-clr-1-lighten;
                }

                &:hover {
                    background-color: $nav-link-border-bg-clr-hover-green;
                    border-color: $nav-link-border-clr-hover-green;
                }
            }

            &:hover {
                border-color: $nav-link-border-clr-hover-default;
                background-color: $nav-link-border-bg-clr-hover-default;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                p {
                    width: max-content;
                    margin: 0;
                    padding: 0 1rem;
                }
            }
        }
    }
}