<div class="logo">
    <a routerLink="/">
        <div class="logo-container">
            <div class="logo-text">
                <h1>
                    B
                </h1>
            </div>
            <div class="logo-borders">
                <div class="logo-border logo-border-blue"></div>
                <div class="logo-border logo-border-yellow"></div>
                <div class="logo-border logo-border-purple"></div>
                <div class="logo-border logo-border-green"></div>
            </div>
        </div>
    </a>
</div>