@import '../../variables/variables.scss';

.loader {
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
    padding: $padding-box;
}