@import '../../variables/variables.scss';

.profile {
    display: flex;
    flex-direction: column;
    grid-row-gap: $padding-inline-l;
    width: 100%;
    height: fit-content;
    padding: $padding-inline-s;

    .profile-inner {
        position: relative;
        width: 100%;
        height: fit-content;

        .user {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: $padding-inline-l;
            width: 100%;
            height: fit-content;
    
            .avatar-container {
                position: relative;
                width: 100%;
                height: auto;
                min-width: 200px;
                border-radius: 50%;
                overflow: hidden;
                aspect-ratio: 1/1;
    
                .default-avatar {
                    width: 100%;
                    height: 100%;
                    background-image: url("../../images/avatars/avatar-man.png");
                }

                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background-image: url("../../images/avatars/avatar-error.png");
                    transform: translate(-50%, -50%);
                    width: 102%;
                    height: 102%;
                }

                .edit-avatar {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    input {
                        display: none;
                    }

                    label {
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        background-color: $bg-clr-black-wall;
                        color: #ffffff;
                        transition: opacity 0.2s ease;
                        cursor: pointer;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
    
            .info {
                display: flex;
                flex-direction: column;
                grid-gap: 10px;
                width: 100%;
                height: fit-content;
    
                .name {
                    display: flex;
                    grid-gap: $padding-inline-s;
                    width: 100%;
                    height: fit-content;
                }
    
                .phone {
                    > a {
                        color: $text-clr-dark;
                         > input:disabled {
                            cursor: pointer;
                         }  
                    }
                }

                input {
                    width: fit-content;
                    min-width: 0;
                    padding: 0;
                    margin: 0;
                    border: none;
                    outline: none;
                    color: $text-clr-dark;
                    box-shadow: none;
                    transition: none;

                    &:not(:disabled) {
                        border-bottom: 1px solid $border-clr;
                    }

                    &:not(:disabled):focus {
                        border-bottom: 1px solid $border-clr-hover;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            grid-gap: $padding-inline-s;
            position: absolute;
            top: 0;
            right: 0;

            button {
                width: 20px;
                height: 20px;
                border: none;
                background-color: transparent;
                opacity: 0;
                transition: all 0.2s ease;

                &:not(:disabled) {
                    cursor: pointer;
                }

                &.active {
                    opacity: 1;
                }

                &.edit{
                    opacity: 1;
                    background-image: url("../../images/buttons/svg/edit.svg");
                    
                    &.active {
                        background-image: url("../../images/buttons/svg/cross.svg");   
                    }
                }

                &.apply {
                    background-image: url("../../images/buttons/svg/apply.svg");
                }
            }
        }
    }

    hr {
        width: 100%;
        height: 2px;
        border: none;
        box-shadow: none;
        background-color: $border-clr;
        border-radius: $border-radius;
    }
}