<div class="profile">
    <div class="title box">
        <h1 class="center">
            Профиль
        </h1>
    </div>
    <div *ngIf="userIsReady$ | async; else loader" class="content box">
        <div *ngIf="user$ | async; else notFound" class="content_inner">
            <div class="info">
                <div class="avatar-container">
                    <div class="avatar"></div>
                </div>
                <div class="info-inner">
                    <div class="name">
                        <div class="first-name">
                            <h2>{{(user$ | async)?.firstName}}</h2>
                        </div>
                        <div class="last-name">
                            <h2>{{(user$ | async)?.lastName}}</h2>
                        </div>
                    </div>
                    <div class="location">
                        <div class="city">
                            <p>г. {{(user$ | async)?.city}},</p>
                        </div>
                        <div class="region">
                            <p>{{(user$ | async)?.region}} район</p>
                        </div>
                    </div>
                    <div class="contacts">
                        <div class="phone">
                            <p><a href="tel:{{(user$ | async)?.phone}}">
                                    <mat-icon>phone</mat-icon> {{(user$ | async)?.phone}}
                                </a></p>
                        </div>
                        <!-- <div class="gmail">
                        <p>Почта: {{(user$ | async)?.gmail}}</p>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
        <ng-template #notFound>
            <app-user-not-found></app-user-not-found>
        </ng-template>
    </div>
    <ng-template #loader>
        <app-loader></app-loader>
    </ng-template>
</div>