@import '../../variables/variables.scss';

.chats {
    display: flex;
    flex-direction: column;
    grid-gap: $padding-inline-l;
    width: 100%;
    height: 100%;

    .content {
        width: 100%;
        height: 100%;
        background-color: $bg-clr-white;
        padding: $padding-inline-l;
    }
}